version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - ./ml_models:/app/ml_models
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1